.about{
    background-color: #E4EAC5;
    overflow: hidden;
}

.profile {
    float:left;
    width: 30%;
    background-color: #fff;
}

.profile img {
    padding: 2em 3.5em 1em 3.5em;
    filter: grayscale(80%);
    
}

.bio {
    float:left;
    width: 70%;
    box-sizing: border-box;
    padding: 2em 6em;
}

.bio p {
    font-family: 'Yantramanav', sans-serif;
    text-align: justify;
    color: #4e342e;
    font-size: 1.1em;
}

.bio h2 {
    font-family: 'Space Mono', monospace;
    color: #0A837F;
}

.resume {
    box-sizing: border-box;
    padding: 2em;
}

.resume p {
    font-family:'Yantramanav', sans-serif;
    text-align: justify;
    color: #4e342e;
}

.resume h3 {
    color: #b71c1c;
    font-family: 'Space Mono', monospace;
    margin-top: 0;
    padding-top: 0;
}

