.download {
    background-color: #959F83;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

.download a {
    text-decoration: none;
    border: solid 1.5px #b71c1c;
    border-radius: 15px;
    font-size: 1.5em;
    font-family: 'Yantramanav', sans-serif;
    padding: 10px;
    color: #b71c1c;
    text-align: center;
    display: inline-block;
}

.download i {
    font-size: 20px;
    color: #b71c1c;
    padding-right: 10px;
}

.download span {
    font-family: 'Yantramanav', sans-serif;
    color: #fff;
    font-size: 1.5em;
    padding-right: 50px;
}

.download a:hover {
    background-color: #FFBC11;
}