.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #597C6B;
    overflow: hidden;
}

.menu li a:hover {
    background-color: #FFBC11;
}


.menu a {
    display: block;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    float: right;
    border-left: solid 1.5px #076461;

}

.menu i {
    font-size: 40px;
    padding: 15px;
}